/* This media query apply to screen size */
/* When screen size width is smaller than 1200px */
/* The display rule applies */

@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-containers,
    .experience-container {
        flex-wrap: wrap;
    }

    #contact, #projects, #gallery {
        height: fit-content;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    #experience,
    .section-experience,
    .projects-container {
        margin-top: 2rem;
    }

    #profile,
    .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    #contact,
    #projects,
    #gallery {
        height: fit-content;
    }

    
    section,
    .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers,
    .experience-container {
        margin-top: 0;
    }

    #gallery {
        margin-bottom: 2rem;
    }

    #contact {
        margin-top: 2rem;
    }
}

@media screen and (max-width:600px) {

    #contact,
    footer {
        height: 40vh;
    }

    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers,
    .experience-container,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }

    .skills {
        font-size: 1rem;
    }

    .experience-subtitle {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        text-align: justify;
    }
}

@media screen and (max-height:600px) {

    #profile,
    #about,
    #experience,
    #projects,
    #gallery,
    #contact {
        height: fit-content;
    }
}

/* Gallery Section */
#gallery {
    padding: 4vh 0;
    text-align: center;
    margin-top: 6rem;
}


.gallery-item {
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; /* 允许高度自适应 */
    max-height: 400px; /* 增加最大高度 */
}

.gallery-image {
    width: 100%;
    height: 100%; /* 确保图片高度填充容器 */
    object-fit: cover; /* 确保图片填充整个容器 */
    display: block;
}

/* 媒体查询 */
@media screen and (min-width: 1200px) {
    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(350px 1fr)); /* 增加最小宽度以适应更大的窗口 */
    }

    .gallery-item {
        max-height: 400px; /* 在更宽的窗口中增加最大高度 */
    }
}
