/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}


.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:nth-child(2) {
  opacity: 1;
}

.hamburger-icon span:last-child {
  transform: none;
}

/* Sections */

/* Define the main section part. */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
  gap: 4rem;
  height: 80%;
}

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.social-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* Icon */
.icon {
  cursor: pointer;
  height: 2rem
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  white-space: nowrap;
  text-align: center;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1,
.btn-color-2:hover {
  cursor: pointer;
}


.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* About Section  */

#about {
  position: relative;
}

.about-pic {
  border-radius: 2rem;
}

.about-containers,
.about-details-container {
  display:flex;
}

.about-details-container {
  flex-direction: column;
  justify-content: center;
}

.about-containers {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.details-container {
  min-width: 200px;
  flex: 1;
  padding: 1.5rem;
  background: white;
  text-align: center;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  border-radius: 2rem;
}

.experience-icon {
  cursor: default;
}

.skills .icon {
  cursor: default;
}

.text-container {
  text-align: left;
}

.bullet-point {
  transition: opacity 0.5s ease; /* 添加过渡效果 */
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

/* Experience section */
#experience {
  position: relative;
}

.experience-subtitle {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.section-experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.skills-container {
  display: flex;
  flex-direction: row;
  text-align: initial;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: space-around;
}

.skills {
  display: flex;
  width: 10rem;
  gap: 0.5rem;
}


/* Projects */
#projects {
  position: relative;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.one-project-container {
  display: flex;
  flex-direction: row;
  text-align: initial;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: space-around;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-pic {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
  margin: 1rem;
  color: black;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* Contact */
#contact {
  position: relative;
}

#contact {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  
}

.contact-info-upper-container {
  display: flex;
  padding: 0.5rem;
  background: white;
  text-align: center;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  border-radius: 2rem;
  justify-content: center;
  margin: 2rem auto;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.email-icon {
  height: 2.5rem;
}

.contact-icon {
  cursor: default;
}

/* Footer */
footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

/* Gallery Section */
#gallery {
    padding: 4vh 0;
    text-align: center;
    margin-top: 6rem;
}


.gallery-container {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 2rem;    /* 上边距为 2rem */
    margin-bottom: 2rem; /* 下边距为 2rem */
    margin-left: auto;   /* 左边距自动计算 */
    margin-right: auto;
    max-width: 1800px;
    margin-left: auto;   /* 左边距自动计算 */
}

.gallery-item {
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* 媒体查询 */


.gallery-item:hover {
    transform: scale(1.05);
}

/* 确保与其他部分一致的样式 */
.section__text__p1 {
    font-size: 1.5rem;
}

.title {
    font-size: 3rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}